.auth {
    background-color: #4285f4; /* Color de fondo de Google */
    color: white; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    border: 5px; 
    border-radius: 10px; /* Borde redondeado */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    display: flex; /* Mostrar elementos en línea */
    align-items: center; /* Alinear elementos verticalmente */
  }
  
  .auth:hover {
    background-color: #3c78dc; /* Color de fondo al pasar por encima */
  }
  
  .auth:active {
    background-color: #3367d6; /* Color de fondo al hacer clic */
  }

  .icon {
    width: 40px; /* Ancho de la imagen */
    height: 40px; /* Altura de la imagen */
    margin-right: 10px; /* Margen derecho para separar la imagen del texto */
  }
  