.errors {
    color: rgb(241, 16, 16);
     background-color: #f6EC72;
    font-family: cursive;

}  

label {

    font-size: 18px; /* Tamaño de fuente */
    /*color: #333; /* Color del texto */
    color: #555;
    font-weight: bold;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    background-color: #49cbc1; /* Cambia el color de fondo */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
}

.form {
    width: 500px;
    gap: 5px;
   
    background-color: #4e54c8; /* Color de fondo */
    background-image: linear-gradient(to right, #1684A7, #09A599); 

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #f7e203;
}
 
.btn {
    margin-bottom: 16px;
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #54debe;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #f7e203;
}
 
.btn:hover {
    opacity: .9;
  }

  .title {
    color: #264143;
    font-weight: 900;
    font-size: 30px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #f7e203;
}

.form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #f7e203;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
  }
  .subirfoto{
    background-color: white;
  }
  .subirfoto:hover{
    background-color: grey;
    cursor: pointer;
  }